<div class="sidebar">
	<img src="https://pbs.twimg.com/profile_images/595123589763846144/EiyXjtyP_400x400.jpg" alt="Michael Clawson" class="sidebar--image" />
	<h1 class="sidebar--name">Michael Clawson</h1>
	<p class="sidebar--social">Follow me on Twitter: <a href="https://twitter.com/clawsonm" class="sidebar--handle">@clawsonm</a></p>
</div>