{{#extend "layout"}}
	{{#content "page_header"}}
<h1 class="about--title">Michael Clawson</h1>
	{{/content}}

	{{#content "main"}}
<article class="about">
	<div class="about--body">
		{{{contents}}}
	</div>
</article>
	{{/content}}
{{/extend}}